{% extends "blog/base.html" %}
{% load wagtailcore_tags blogapp_tags el_pagination_tags wagtailroutablepage_tags menu_tags %}

{% block title %}Database{% endblock %}

{% block navbar %}
{% main_menu template="menus/main/level_1.html" %}
{% endblock %}
{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Database</li>
    </ol>
    </nav>
    <div class="info info-hover">
        <div class="icon icon-info">
            <i class="fa fa-database" style="font-size: 70px"></i>
        </div>
    </div>
    <div class="text-center">
        <h5>Search for experts in the field using keywords or terms</h5>
    </div>
    <form role="search" method="get"
        class="form-search" action="/analytics/keywords" method="get">
        <div class="input-group no-border">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="now-ui-icons ui-1_zoom-bold"></i>&nbsp;&nbsp;&nbsp;
                </div>
            </div>
            <input type="text" class="form-control" name="q"
                aria-describedby="searchHelp"
                placeholder="Search for experts with keywords&hellip;" title="Search for: "/>
        </div>
    </form>
    <section class="section">
        <div class="text-center">
            <p><h4>Database contains <strong>{{ total_words }}</strong> word{{ total_words|pluralize}}
            extracted from <strong>{{ total_abstracts }}</strong> research article{{ total_abstracts|pluralize }}.</h4></p>
            {% for field in fields %}
            <span><a href="/analytics/show_field/{{ field.1 }}">{{ field.1 }}</a> <strong>({{ field.0 }})</strong></span>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}