{% extends "blog/base.html" %}
{% load wagtailcore_tags blogapp_tags el_pagination_tags wagtailroutablepage_tags menu_tags %}
{% load wagtailimages_tags %}
{% block content %}
{% main_menu template="menus/main/level_1.html" %}
<section class="section">
    <div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/analytics/database">Database</a></li>
        <li class="breadcrumb-item active" aria-current="page">Abstracts List</li>
        </ol>
    </nav>
        <h4>Articles with "<strong>{{ noun_chunk }}</strong>"</h4>
        <form role="search" method="get"
            class="form-search" action="/analytics/keywords/" method="get">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="now-ui-icons ui-1_zoom-bold"></i>&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
                <input type="text" class="form-control" name="q"
                       aria-describedby="searchHelp"
                       placeholder="Search for experts with keywords&hellip;" title="Search for: "/>
            </div>
        </form>
        <table class="table">
            <thead>
                <th><strong>Title</strong></th>
                <th><strong>Authors</strong></th>
                <th><strong>Terms</strong></th>
                <th><strong>Publish Date</strong></th>
                <th><strong>Cited</strong></th>
            </thead>
            <col width="20">
            <col width="10">
            <col width="50">
            <col width="10">
            <col width="10">
            {% for abs in abstracts %}
            <tr>
                <td>
                    <h5>{{ abs.abstract.1 }}</h5>
                </td>
                <td>
                    {% for author in abs.authors %}
                        <a href="/analytics/profile-by-name/?firstname={{author.first_name}}&lastname={{author.last_name}}">{{ author.first_name }} {{ author.last_name}}</a>,
                    {% endfor %}
                </td>
                <td>
                    {% for term in abs.nounchunks %}
                        <a href="/analytics/keywords?q={{ term.1 }}">
                            <span class="badge badge-info">{{ term.1 }}</span>
                        </a>
                    {% endfor %}
                </td>
                <td>{{ abs.abstract.2 }}</td>
                <td>{{ abs.abstract.3}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>
{% endblock %}