{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/analytics/database">Database</a></li>
      <li class="breadcrumb-item active" aria-current="page">Profile by Name</li>
    </ol>
  </nav>
    <div class="info info-hover">
      <div class="icon">
        <i class="fa fa-user-circle" style="font-size: 70px;"></i>
      </div>
      <p class="description">
        <h3 class="h3"><strong>{{ author.first_name }} {{ author.last_name }}</strong></h3>
        <h6 class="h6">SCOPUS ID {{ author.scopus_id }}</h6>
      </p>
    </div>
  <div class="text-center">
    <h4 class="h4"><strong>Affiliation Timeline</strong></h4>
    <table class="table">
      <thead>
          <th>Name</th>
          <th>Country</th>
          <th>Year</th>
      </thead>
      <tbody>
        {% for af in affils %}
        <tr>
          <td>{{ af.0 }}</td>
          <td>{{ af.1 }}</td>
          <td>{{ af.2 }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <hr>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3>Research Fields</h3>
      <ul>
        {% for f,c in fields.items %}
        <li>{{ f }} ({{ c }})</li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-8">
      {% if profile %}
        <h3>Scholarship Information</h3>
        <div class="row">
          <div class="col">
            <p>Country <strong>{{ profile.country|title }}</strong><br></p>
            <p>Major <strong>{{ profile.field_of_study|title }}</strong></p>
            <p>Specialty <strong>{{ profile.specialty|title }}</strong></p>
          </div>
          <div class="col">
            <p>Level <strong>{{ degree }}</strong></p>
            Status <strong>{% if profile.status %}Graduated{% else %}Studying{% endif %}</strong>
            <p><h6 class="title">E-mail</h6>  {{ profile.contact }}</p>
          </div>
        </div>
      {% endif %}
      <h3>Publications</h3>
      <ul>
        {% for abs in abstracts %}
          <li><a href="/analytics/abstract/{{abs.0}}">{{ abs.1 }}</a></li>
        {% empty %}
          <li>Nobody with the specified name in our database.</li>
        {% endfor %}
      </ul>
      <h3>Keywords</h3>
      <div>
        {% for kw in keywords %}
          <a href="/analytics/keywords/?q={{kw.0}}">
            <span class="badge badge-primary">{{ kw.0 }} {{ kw.1 }}</span>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
