{% extends "blog/base.html" %}
{% load wagtailcore_tags blogapp_tags el_pagination_tags wagtailroutablepage_tags menu_tags %}
{% load wagtailimages_tags %}
{% block content %}
{% main_menu template="menus/main/level_1.html" %}
<section class="section">
    <div class="container">
        <h4>We've found someone who knows a thing or two about <strong>{{ search_term }}</strong>...</h4>
        <form role="search" method="get"
            class="form-search" action="." method="get">
            <div class="input-group">
                <input type="text" class="form-control" name="q"
                    aria-describedby="searchHelp"
                    placeholder="Search for experts with keywords&hellip;" title="Search for: "/>
                <div class="input-group-addon">
                    &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-search"></i>
                </div>
            </div>
        </form>
        <table class="table">
            <thead>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Affiliation</th>
                <th>Matched Keyword</th>
                <th>Occurrence</th>
                <th>Published Articles</th>
                <th>Scholarship Student</th>
            </thead>
            {% for rec in results %}
            <tr {% if rec.sc %}class="table-primary"{% endif %}>
                <td>{{ rec.firstname }}</td>
                <td>{{ rec.lastname }}</td>
                <td>{{ rec.affiliation }}</td>
                <td>{{ rec.word_en}}</td>
                <td>{{ rec.count }}</td>
                <td>{{ rec.total_abstract }}</td>
                <td>{{ rec.sc }}</td>
            </tr>
            {% endfor %}
        </table>
        <p>* Scholarship students are highlighted.</p>
        <h4>Noun phrases containing {{ search_term }}</h4>
        <ul>
            {% for nc in nounchunks %}
            <li><a href="/analytics/nounchunk/?ncid={{ nc.0 }}">{{ nc.1|title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}