{% extends "analytics/base.html" %}
{% load static %}

{% block content %}
    <div class="content">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <div class="card-category">
                        สัดส่วนนักเรียนทุนกระทรวงวิทย์ที่จบการศึกษาแล้วและยังไม่จบการศึกษา
                    </div>
                </div>
                <div class="card-body">
                    <canvas id="activeResChart" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <div class="card-category">
                        จำนวนนักเรียนทุนกระทรวงวิทย์ที่จบการศึกษาแล้วสังกัดตามหน่วยงาน สถาบันต่างๆ
                    </div>
                </div>
                <div class="card-body">
                    <canvas id="schoPerAffilChart"></canvas>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <div class="card-category">
                        จำนวนงานวิจัยในแต่ละสาขาแบ่งตามฐานข้อมูล SCOPUS
                    </div>
                </div>
                <div class="card-body">
                    <canvas id="paperPerField"></canvas>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <div class="card-category">
                        จำนวนนักวิจัยที่เป็นนักเรียนทุนกระทรวงวิทย์แบ่งตามผลงานที่ปรากฏในฐานข้อมูล SCOPUS
                    </div>
                </div>
                <div class="card-body">
                    <canvas id="researcherPerField"></canvas>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'analytics/assets/app/dashboard.js' %}" type="text/javascript"></script>
{% endblock %}
