{% load static %}
<nav class="navbar navbar-expand-lg bg-white navbar-absolute fixed-top navbar-transparent">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navigation" aria-controls="navigation"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar top-bar"></span>
            <span class="navbar-toggler-bar middle-bar"></span>
            <span class="navbar-toggler-bar bottom-bar"></span>
        </button>
        <div class="collapse navbar-collapse" data-color="orange" data-nav-image="{% static 'blog/assets/img/blurred-image-1.jpg' %}">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <h5>
                        <a class="nav-link" href="/analytics/database">
                            <strong>Database</strong>
                        </a>
                    </h5>
                </li>
                {% for item in menu_items %}
                <li class="nav-item">
                    <h5>
                        <a class="nav-link" href="{{ item.href }}">
                            <strong>{{ item.text }}</strong>
                        </a>
                    </h5>
                </li>
                {% endfor %}
                <li class="nav-item">
                    <h5>
                        <a class="nav-link" href="http://203.151.187.32/tm3/talentmobility/public/#">
                            <strong>Project Management System</strong>
                        </a>
                    </h5>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <h5>
                        <a class="nav-link" href="{{ user.get_absolute_url }}">
                            <i class="fa fa-user-circle"></i>
                            <strong>Profile</strong>
                        </a>
                    </h5>
                </li>
                {% endif %}
                <li class="nav-item">
                    {% if request.user.is_authenticated %}
                    <h5>
                        <a class="nav-link" href="/account/logout">
                            <strong>Log out</strong>
                        </a>
                    </h5>
                    {% else %}
                    <h5>
                        <a class="nav-link" href="/account/login">
                            <strong>Log in</strong>
                        </a>
                    </h5>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>