{% load static %}
<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent " color-on-scroll="400">
    <div class="container">
        <div class="navbar-translate">
            <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="{% static 'blog/assets/img/blurred-image-1.jpg' %}">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <h6>
                        <a class="nav-link" href="/analytics/database">
                            <strong>Database</strong>
                        </a>
                    </h6>
                </li>
                {% for item in menu_items %}
                <li class="nav-item">
                    <h6>
                        <a class="nav-link" href="{{ item.href }}">
                            <strong>{{ item.text }}</strong>
                        </a>
                    </h6>
                </li>
                {% endfor %}
                <li class="nav-item">
                    <h6>
                        <a class="nav-link" href="http://203.151.187.32/tm3/talentmobility/public/#">
                            <strong>Project Management System</strong>
                        </a>
                    </h6>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <h6>
                        <a class="nav-link" href="{{ user.get_absolute_url }}">
                            <i class="fa fa-user-circle"></i>
                            <strong>Profile</strong>
                        </a>
                    </h6>
                </li>
                {% endif %}
                <li class="nav-item">
                    {% if request.user.is_authenticated %}
                    <h6>
                        <a class="nav-link" href="/account/logout">
                            <strong>Log out</strong>
                        </a>
                    </h6>
                    {% else %}
                    <h6>
                        <a class="nav-link" href="/account/login">
                            <strong>Log in</strong>
                        </a>
                    </h6>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>