{% extends "base.html" %}

{% block page_title %}
    Analytics Index Page
{% endblock %}

{% block page_content %}
    <section class="hero is-info">
        <div class="hero-body">
            <div class="container">
                <h1 class="title has-text-centered">สรุปข้อมูลการวิเคราะห์ภาพรวมงานวิจัยทางด้าน Robotics and Automation</h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <section class="section">
                <div class="tabs">
                    <ul>
                        <li class="is-active"><a href="{{ url_for('domain.index') }}">Overall</a></li>
                        <li><a href="{{ url_for('domain.topics') }}">Topics</a></li>
                    </ul>
                </div>
            </section>
            <section class="section">
                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">จำนวนผลงานวิจัยทั้งหมดในแต่ละปี</p>
                    </div>
                    <div class="card-body">
                        <canvas id="totalChart" height="50"></canvas>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">จำนวนผลงานวิจัยทั้งหมดคิดเป็นอัตราส่วนตามสถาบัน</p>
                    </div>
                    <div class="card-body">
                        <canvas id="percentTotalChart" width="50"></canvas>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">จำนวนผลงานวิจัยประเภท Research Article</p>
                    </div>
                    <div class="card-body">
                        <canvas id="articleChart" height="120"></canvas>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">จำนวนผลงานวิจัยประเภท Proceedings</p>
                    </div>
                    <div class="card-body">
                        <canvas id="procChart" height="120"></canvas>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">จำนวนนักวิจัยตามมหาวิทยาลัยต่อปี</p>
                    </div>
                    <div class="card-body">
                        <canvas id="authorChart" height="120"></canvas>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">จำนวนนักวิจัยที่เป็นนักเรียนทุนรัฐบาล</p>
                    </div>
                    <div class="card-body">
                        <canvas id="scholarAuthorChart" height="120"></canvas>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">สัดส่วนนักเรียนทุนที่มีตำแหน่งอาจารย์ในมหาวิทยาลัย</p>
                    </div>
                    <div class="card-body">
                        <canvas id="scholarAcadChart" height="120"></canvas>
                    </div>
                </div>
            </section>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        var articleChart;
        var articleCtx = document.getElementById("articleChart").getContext('2d');

        var procChart;
        var procCtx = document.getElementById("procChart").getContext('2d');

        var totalChart;
        var totalCtx = document.getElementById("totalChart").getContext('2d');

        var authorChart;
        var authorCtx = document.getElementById("authorChart").getContext('2d');

        var scholarAuthorChart;
        var scholarAuthorCtx = document.getElementById("scholarAuthorChart").getContext('2d');

        var scholarAcadChart;
        var scholarAcadCtx = document.getElementById("scholarAcadChart").getContext('2d');

        var percentTotalChart;
        var percentTotalCtx = document.getElementById("percentTotalChart").getContext('2d');

        axios.get('/domain/api/v1.0/pub-per-year?doctype=ar').then(resp => {
            let data = JSON.parse(JSON.stringify(resp.data));
            articleChart = new Chart(articleCtx, {
                type: 'bar',
                data: {
                    labels: data.labels,
                    datasets: data.data,
                },
                options: {
                    scales: {
                        yAxes: [{
                            stacked: true,
                            ticks: {
                                beginAtZero: true
                            }
                        }],
                        xAxes: [{
                            stacked: true,
                            ticks: {
                                autoSkip: false,
                            }
                        }]
                    },
                    plugins: {
                        colorschemes: {
                            scheme: 'tableau.Tableau20'
                        }
                    }
                }
            });
        });

        axios.get('/domain/api/v1.0/pub-per-year?doctype=cp').then(resp => {
            let data = JSON.parse(JSON.stringify(resp.data));
            procChart = new Chart(procCtx, {
                type: 'bar',
                data: {
                    labels: data.labels,
                    datasets: data.data,
                },
                options: {
                    scales: {
                        yAxes: [{
                            stacked: true,
                            ticks: {
                                beginAtZero: true
                            }
                        }],
                        xAxes: [{
                            stacked: true,
                            ticks: {
                                autoSkip: false,
                            }
                        }]
                    },
                    plugins: {
                        colorschemes: {
                            scheme: 'tableau.Tableau20'
                        }
                    }
                }
            });
        });

        axios.get('/domain/api/v1.0/author-per-year').then(resp => {
            let data = JSON.parse(JSON.stringify(resp.data));
            authorChart = new Chart(authorCtx, {
                type: 'bar',
                data: {
                    labels: data.labels,
                    datasets: data.data,
                },
                options: {
                    scales: {
                        yAxes: [{
                            stacked: true,
                            ticks: {
                                beginAtZero: true
                            }
                        }],
                        xAxes: [{
                            stacked: true,
                            ticks: {
                                autoSkip: false,
                            }
                        }]
                    },
                    plugins: {
                        colorschemes: {
                            scheme: 'tableau.Tableau20'
                        }
                    }
                }
            });
        });

        axios.get('/domain/api/v1.0/total-pub-per-year').then(resp => {
            let data = JSON.parse(JSON.stringify(resp.data));
            totalChart = new Chart(totalCtx, {
                type: 'line',
                data: {
                    labels: data.labels,
                    datasets: [{
                        data: data.data
                    }]
                },
                options: {
                    plugins: {
                        colorschemes: {
                            scheme: 'tableau.Tableau20'
                        }
                    }
                }
            });
        });

        axios.get('/domain/api/v1.0/percent-pub').then(resp => {
            let data = JSON.parse(JSON.stringify(resp.data));
            percentTotalChart = new Chart(percentTotalCtx, {
                type: 'doughnut',
                data: {
                    labels: data.labels,
                    datasets: [{
                        data: data.data
                    }]
                },
                options: {
                    plugins: {
                        colorschemes: {
                            scheme: 'tableau.Tableau20'
                        }
                    }
                }
            });
        });

        axios.get('/domain/api/v1.0/num-scholarship').then(resp => {
            let data = JSON.parse(JSON.stringify(resp.data));
            scholarAuthorChart = new Chart(scholarAuthorCtx, {
                type: 'bar',
                data: {
                    labels: data.labels,
                    datasets: data.data,
                },
                options: {
                    scales: {
                        yAxes: [{
                            stacked: true,
                            ticks: {
                                beginAtZero: true
                            }
                        }],
                        xAxes: [{
                            stacked: true,
                            ticks: {
                                autoSkip: false,
                            }
                        }]
                    },
                    plugins: {
                        colorschemes: {
                            scheme: 'tableau.Tableau20'
                        }
                    }
                }
            });
        });

        axios.get('/domain/api/v1.0/scholar-academic-position').then(resp => {
            let data = JSON.parse(JSON.stringify(resp.data));
            scholarAcadChart = new Chart(scholarAcadCtx, {
                type: 'doughnut',
                data: {
                    labels: data.labels,
                    datasets: [{
                        data: data.data
                    }]
                },
                options: {
                    plugins: {
                        colorschemes: {
                            scheme: 'tableau.Tableau20'
                        }
                    }
                }
            });
        });
    </script>
{% endblock %}