{% extends "base.html" %}

{% block page_title %}
    Analytics Workforce Page
{% endblock %}

{% block page_content %}
    <section class="hero is-info">
        <div class="hero-body">
            <div class="container">
                <h1 class="title has-text-centered">สรุปข้อมูลการวิเคราะห์ภาพรวมงานวิจัยทางด้าน Robotics and Automation</h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <section class="section">
                <div class="tabs">
                    <ul>
                        <li class=""><a href="{{ url_for('domain.index') }}">ผลงานวิจัย</a></li>
                        <li class=""><a href="{{ url_for('domain.collab_view') }}">ความร่วมมือ</a></li>
                        <li class="is-active"><a href="{{ url_for('domain.workforce_view') }}">บุคลากรวทน.</a></li>
                        <li><a href="{{ url_for('domain.others_view') }}">อื่นๆ</a></li>
                        <li><a href="{{ url_for('domain.topics') }}">Topics</a></li>
                    </ul>
                </div>
            </section>
            <section class="section">
                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">จำนวนนักวิจัยตามมหาวิทยาลัยต่อปี</p>
                    </div>
                    <div class="card-body">
                        <canvas id="authorChart" height="120"></canvas>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="card">
                    <div class="card-header">
                      <p class="card-header-title">จำนวนนักวิจัยที่เป็นนักเรียนทุนรัฐบาล (หน้าเก่า/หน้าใหม่)/ปี </p>
                    </div>
                    <div class="card-body">
                        <canvas id="scholarAuthorChart" height="120"></canvas>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">สัดส่วนจำนวนบุคลากรวทน.
                        ในช่วงปี 2014-2018 ในการดำรงตำแหน่งวิชาการ</p>
                    </div>
                    <div class="card-body">
                        <canvas id="scholarAcadChart" height="120"></canvas>
                    </div>
                </div>
            </section>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        var authorChart;
        var authorCtx = document.getElementById("authorChart").getContext('2d');

        var scholarAuthorChart;
        var scholarAuthorCtx = document.getElementById("scholarAuthorChart").getContext('2d');

        var scholarAcadChart;
        var scholarAcadCtx = document.getElementById("scholarAcadChart").getContext('2d');

        axios.get('/domain/api/v1.0/author-per-year').then(resp => {
            let data = JSON.parse(JSON.stringify(resp.data));
            authorChart = new Chart(authorCtx, {
                type: 'bar',
                data: {
                    labels: data.labels,
                    datasets: data.data,
                },
                options: {
                    scales: {
                        yAxes: [{
                            stacked: true,
                            ticks: {
                                beginAtZero: true
                            }
                        }],
                        xAxes: [{
                            stacked: true,
                            ticks: {
                                autoSkip: false,
                            }
                        }]
                    },
                    plugins: {
                        colorschemes: {
                            scheme: 'tableau.Tableau20'
                        },
                        datalabels: {
                          display: false
                        }
                    }
                }
            });
        });

        axios.get('/domain/api/v1.0/num-scholarship').then(resp => {
            let data = JSON.parse(JSON.stringify(resp.data));
            scholarAuthorChart = new Chart(scholarAuthorCtx, {
                type: 'bar',
                data: {
                    labels: data.labels,
                    datasets: data.data,
                },
                options: {
                    scales: {
                        yAxes: [{
                            stacked: true,
                            ticks: {
                                beginAtZero: true
                            }
                        }],
                        xAxes: [{
                            stacked: true,
                            ticks: {
                                autoSkip: false,
                            }
                        }]
                    },
                    plugins: {
                        colorschemes: {
                            scheme: 'tableau.Tableau20'
                        },
                        datalabels: {
                          display: false
                        }
                    }
                }
            });
        });

        axios.get('/domain/api/v1.0/researcher-academic-position').then(resp => {
            let data = JSON.parse(JSON.stringify(resp.data));
            scholarAcadChart = new Chart(scholarAcadCtx, {
                type: 'bar',
                data: {
                    labels: data.labels,
                    datasets: [{
                        data: data.data
                    }]
                },
                options: {
                    legend: {
                      display: false
                    },
                    plugins: {
                        colorschemes: {
                            scheme: 'tableau.Tableau10'
                        },
                        datalabels: {
                          display: true,
                          backgroundColor: '#99ccff',
                          borderColor: '#3333cc',
                        }
                    }
                }
            });
        });
    </script>
{% endblock %}
