{% extends "blog/base.html" %}

{% load wagtailcore_tags blogapp_tags el_pagination_tags wagtailroutablepage_tags menu_tags %}
{% block navbar %}
{% main_menu template="menus/main/level_1.html"%}
{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">About Us</h1>
        <div class="row">
            <div class="col-md">
                <p>{{ page.body|richtext }}</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}