{% extends "blog/base.html" %}

{% load wagtailcore_tags blogapp_tags el_pagination_tags wagtailroutablepage_tags menu_tags %}
{% load wagtailimages_tags %}
{% block content %}
{% main_menu template="menus/main/level_1.html" %}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="title">{{ blog_page.translated_title }}</h1>
                <h4 class="subtitle">{{ blog_page.description }}</h4>
                {% if blog_page.search_term %}
                <h6 class="subtitle">Posts
                    {% if blog_page.search_type == "tag" %}
                    with {{ blog_page.search_term|title }} Tag
                    {% elif blog_page.search_type == "category" %}
                    in {{ blog_page.search_term }} Category
                    {% elif blog_page.search_type == "search" %}
                    contains {{ blog_page.search_term }}
                    {% endif %}
                </h6>
                {% endif %}
                <h4 class="subtitle">Total {{ posts|length }} posts.</h4>
                {% paginate 10 posts %}
                {% get_pages %}
                {% for post in posts %}
                    {% image post.feed_image width-400 %}
                    <h3 class="title"><a href="{% post_date_url post blog_page %}">{{ post.translated_title }}</a></h3>
                    <h6 class="text-muted">Posted on {{ post.date }}</h6>
                    {{ post.body|truncatewords_html:50|richtext }}
                    <p><strong>Recent Comments</strong></p>
                    {% for comment in post.comments.all|slice:":2" %}
                        <p class="text-muted">{{ comment.user.first_name }} said "{{ comment.comment|truncatewords_html:10 }}" {{ comment.commented_at }}</p>
                    {% endfor %}
                    <p>Total <strong>{{ post.comments.all|length }}</strong> comment(s).</p>
                    <a href="{% post_date_url post blog_page %}">Read more</span></a>
                    <hr>
                {% endfor %}
                {% if pages.paginated %}
                <ul class="pagination pagination-primary">
                    Page&nbsp;&nbsp;
                    {% for page in pages %}
                        {% if page.is_current %}
                            <li class="page-item active"><a class="page-link" href="{{page.path}}">{{ page.label }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="{{page.path}}">{{ page.label }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="col-sm-4">
                <h4 class="subtitle">Search Posts</h4>
                <form role="search" method="get"
                    class="form-search" action="{% routablepageurl blog_page 'post_search' %}" method="get">
                    <div class="input-group">
                        <input type="text" class="form-control" name="q" placeholder="Search&hellip;" title="Search for: "/>
                        <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                        </span>
                    </div>
                </form>
                <h4 class="subtitle">Categories</h4>
                <ul>
                    {% for cat in categories %}
                        <li>
                            <a href="{% routablepageurl blog_page "post_by_category" cat.slug %}">
                                {{ cat.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}