{% extends "blog/base.html" %}

{% load wagtailcore_tags blogapp_tags %}

{% block content %}
<section class="section">
    <div class="container">
    {% if blog_page.search_term %}
    <h3 class="subtitle">Posts
        {% if blog_page.search_type == "tag" %}
        with {{ blog_page.search_term|title }} Tag
        {% elif blog_page.search_type == "category" %}
        in {{ blog_page.search_term }} Category
        {% endif %}
    </h3>
    {% else %}
    <h3 class="subtitle">All Posts</h3>
    {% endif %}
    <h4 class="subtitle">Total {{ posts|length }} posts.</h4>
    {% for post in posts %}
        <h3 class="title"><a href="{% post_date_url post blog_page %}">{{ post.title }}</a></h3>
        <h6 class="text-muted">Posted by Likit Preeyanon on {{ post.date }}</h6>
        {{ post.body|truncatewords_html:50|richtext }}
        <a href="{% post_date_url post blog_page %}">Read more</span></a>
        <hr>
    {% endfor %}
    </div>
</section>
{% endblock %}