{% extends "blog/landing_page.html" %}
{% load wagtailcore_tags wagtailroutablepage_tags el_pagination_tags %}
{% load wagtailimages_tags %}
{% load static %}

{% block content %}
    <div class="row">
      <div class="col">
          <div class="text-center">
            <h2 class="title">Recent Posts</h2>
            {% for post in posts %}
              <p>
              <div class="fb-post" data-width="800"
                data-href="https://facebook.com/{{ post.page_id }}/posts/{{ post.post_id }}"></div>
              <br><br>
              <div class="text-center">
                <i class="fas fa-quote-right fa-2x"></i>
              </div>
              </p>
            {% endfor %}
            <h4><a href="https://www.facebook.com/TalentMobility">More on Facebook page</h4>
          </div>
      </div>
    </div>
    <div class="section">
      <div class="row">
        <div class="col-md-4 text-center">
          <div class="alert alert-info" role="alert">
            <a href="/network" style="color: white">
              <i class="fa fa-connectdevelop" style="font-size: 60px"></i>
              <h4 class="alert-heading">Talent Mobility Network</h4>
            </a>
            <p>Explore our collaborative network consisting of a number of leading universities and institutes from all over the country.</p>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="alert alert-info" role="alert">
            <a href="/analytics/database" style="color: white">
              <i class="fa fa-database" style="font-size: 60px"></i>
              <h4 class="alert-heading">Expert Database</h4>
            </a>
            <p>Explore our expert database containing profile data, useful research and expertise information extracted from thoundsands of research articles.</p>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="alert alert-info" role="alert">
            <a href="/about-us" style="color: white">
              <i class="fa fa-info" style="font-size: 60px"></i>
              <h4 class="alert-heading">About the Program</h4>
            </a>
            <p>Learn more about the talent mobility program, our mission, goal and plans that can benefit you and your organization and how to join the program.</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}