{% extends "blog/landing_page.html" %}
{% load menu_tags %}
{% load wagtailcore_tags wagtailroutablepage_tags el_pagination_tags %}
{% load wagtailimages_tags %}
{% load static %}

{% block content %}
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2&appId=338188326664223&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <div class="row">
      <div class="col">
          <div class="text-center">
            <h2 class="title">Recent Posts</h2>
              <div class="fb-page" data-href="https://www.facebook.com/TalentMobility/" data-tabs="timeline" data-width="500" data-height="800" data-small-header="false" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/TalentMobility/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/TalentMobility/">Talent Mobility</a></blockquote></div>
          <!--
            {% for post in posts %}
              <p>
              <div class="fb-post" data-width="800"
                data-href="https://facebook.com/{{ post.page_id }}/posts/{{ post.post_id }}"></div>
              <br><br>
              <div class="text-center">
                <i class="fas fa-quote-right fa-2x"></i>
              </div>
              </p>
            {% endfor %}
            <h4><a href="https://www.facebook.com/TalentMobility" class="btn btn-primary btn-round">More on Facebook page</a></h4>
            -->
          </div>
      </div>
    </div>
    <div class="section">
      <div class="row">
      <div class="col-md text-center">
        <h2 class="title">Discover Talent Mobility Program</h2>
      </div>
      </div>
      <div class="row">
        {% for homepagelink in homepagelinks %}
        <div class="col-md-4 text-center">
          <div class="info info-hover">
            <div class="icon icon-info icon-circle">
              <a href="/{{homepagelink.pageurl}}">
              <i class="{{homepagelink.icon}}" style="font-size: 30px"></i>
              </a>
            </div>
            <h4 class="info-title">{{homepagelink.translated_title}}</h4>
            <p class="description">{{homepagelink.translated_description}}</p>
        </div>
        </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}