{% extends "blog/base.html" %}
{% load static %}

{% load wagtailcore_tags blogapp_tags el_pagination_tags wagtailroutablepage_tags menu_tags %}
{% load wagtailimages_tags %}
{% block content %}
{% main_menu template="menus/main/level_1.html" %}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="title">{{ portal_page.translated_title|richtext }}</h1>
                <h4 class="subtitle">{{ portal_page.translated_description }}</h4>
            </div>
        </div>
        <div class="list-group">
            {% for post in posts %}
            <h5 class="title list-group-item list-group-action">
                <a href="{% pageurl post %}">{{ forloop.counter }}. {{ post.translated_title }}</a>
            </h5>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
