{% extends "blog/base.html" %}
{% load menu_tags wagtailcore_tags wagtailroutablepage_tags %}

{% block navbar %}
{% main_menu template="menus/main/level_1.html"%}
{% endblock %}

{% block content %}
<section class="section">
<div class="container">
    <h1 class="title">Post</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Posts</a></li>
            <li class="breadcrumb-item active" aria-current="page">Post</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-sm-12">
            <h3 class="title text-center"><strong>{{ page.title }}</strong></h3>
            <h6 class="subtitle text-muted text-center">Posted on {{ page.date }}</h6>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            {{ page.body|richtext }}
            <div>
                <h3 class="subtitle">Comment</h3>
            </div>
        </div>
        <div class="col-sm-2">
            {% if page.tags.all.count %}
                <div>
                    <strong>Tags</strong>
                    <ul>
                        {% for tag in page.tags.all %}
                        <li style="display: inline">
                            <a class="badge badge-info" href="{% routablepageurl blog_page "post_by_tag" tag.slug %}">{{ tag }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% with categories=page.categories.all %}
                {% if categories %}
                    <strong>Categories</strong>
                    <ul>
                        {% for category in categories %}
                            <li style="display: inline">
                                <a class="badge badge-primary" href="{% routablepageurl blog_page "post_by_category" category.slug %}">
                                {{ category.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </div>
</div>
</section>
{% endblock %}