{% extends "base.html" %}
{% load wagtailcore_tags blogapp_tags el_pagination_tags wagtailroutablepage_tags menu_tags %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<section class="section">
<div class="container">
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{message.tags}}" role="alert">
        <div class="container">
          {{ message|safe }}
        </div>
      </div>
    {% endfor %}
  {% endif %}
    {% if matches and not user.profile.tm_profile_id %}
        <div class="alert alert-info" role="alert">
        <div class="container">
            <h5>เราพบชื่อคุณในฐานข้อมูลนักวิจัยโครงการ Talent Mobility
                โปรดตรวจสอบรายชื่อเพื่อเชื่อมโยงบัญชีเข้าด้วยกันเพื่อความสะดวกในการเข้าใช้งานระบบทั้งสองระบบ ระบบจะส่งอีเมลเพื่อให้คุณยืนยันตัวตนก่อนทำการเชื่อมต่อข้อมูลตามอีเมลที่ปรากฏในรายการ</h5>
        </div>
        </div>
        <table class="table">
            <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th></th>
            </thead>
            {% for r in matches %}
                <tr>
                    <td>{{ r.first_name_en }}</td>
                    <td>{{ r.last_name_en }}</td>
                    <td>{{ r.email }}</td>
                    <td><a href="/account/verify_email/{{ user.id }}/{{ r.id }}/" class="btn btn-primary btn-round">Link</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
  <h1 class="title">Profile</h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Account Profile</li>
    </ol>
  </nav>
  <div class="row justify-content-center">
    <div class="container">
      <div class="content text-center">
            <img src="{{ picture_url }}" class="rounded-circle" width=120>
            <p>
              <h5 class="title">{{ profile.title }}&nbsp;{{ name_th }}</h5>
              <h6 class="subtitle text-muted">{{ name_en }}</h6>
            </p>
            {% if user.is_authenticated %}
              <a href="/account/edit">
                <i class="fa fa-pencil"></i>&nbsp;Edit Profile
              </a>
            {% endif %}
            <hr>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card card-plain">
        <div class="card-body">
          {% if profile.scholarship %}
          <h6 class="title">Scholarship Student Info</h6>
          <p>
            Institute/University <strong>{{ profile.college|title }}</strong><br>
            Country <strong>{{ profile.country|title }}</strong><br>
            Major <strong>{{ profile.field_of_study|title }}</strong><br>
            Specialty <strong>{{ profile.specialty|title }}</strong><br>
            Level <strong>{{ degree }}</strong><br>
            Graduated <strong>{{ profile.graduated_at }}</strong>
          </p>
          <br>
          {% endif %}
          <h6 class="title">Scopus-indexed Publications</h6>
          <h6 class="subtitle text-muted">Author ID {{ profile.scopus_id }}</h6>
          <p>Total {{ abstracts|length }} articles</p>
          <ul>
            {% for field,count in fields.items %}
              <li>{{ field }} {{ count }}</li>
            {% endfor %}
          </ul>
          <p>Keywords</p>
          <div>
            {% for kw in keywords %}
            <a href="/analytics/keywords?q={{ kw }}">
              <span class="badge badge-primary">{{ kw }}</span>
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card card-plain">
        <div class="card-body">
          <h4 class="title">About</h4>
          <div>
            <p>{{ profile.about }}</p>
          </div>
          <div>
            <div class="row">
              <div class="col">
                <p><h6 class="title">Position</h6> {{ profile.current_position }}</p>
                <p><h6 class="title">Affiliation</h6> {{ profile.current_affiliation }}</p>
              </div>
              <div class="col">
                <p><h6 class="title">E-mail</h6>  {{ user.email }}</p>
              </div>
            </div>
          </div>
          <h4 class="subtitle">Field of Interest</h4>
          <div>
            {% for f in profile.field_of_interest_as_list %}
              <a href="/analytics/keywords/?q={{f}}">
                <span class="badge badge-info">{{ f }}</span>
              </a>
            {% endfor %}
          </div>
          <!-- <h4 class="subtitle">Commercial Research</h4> -->
          <h4 class="subtitle">Publications</h4>
          <ul>
            {% for abstract in abstracts %}
              <li>
                <a href="/analytics/abstract/{{ abstract.0 }}/">
                  {{ abstract.1 }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
{% endblock %}