{% extends "blog/base.html" %}
{% load wagtailcore_tags blogapp_tags el_pagination_tags wagtailroutablepage_tags menu_tags %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container">
  <h1 class="title">Profile</h1>
  <div class="row justify-content-center">
    <div class="container">
      <div class="content text-center">
            <img src="{{ picture_url }}" class="rounded-circle" width=120>
            <p>
              <strong>{{ name }}</strong>
              <br>
              <strong>มหาวิทยาลัยมหิดล</strong>
              <br>
              <span class="icon">
                <i class="fa fa-envelope"></i>
              </span> {{ email }}
            </p>
            <hr>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card card-plain">
        <div class="card-body">
          <h6 class="subtitle">Scholarship Student Info</h6>
          <p>
            Country <strong>{{ country }}</strong>
          </p>
          <p>
            Expertise: <strong>{{ specialty }}</strong>
          </p>
          <p>
            Field of study: <strong>{{ fos|title }}</strong>
          </p>
          <p>
            Degree: <strong>{{ degree }}</strong>
          </p>
          <br>
          <h6 class="subtitle">Scopus-indexed Publications</h6>
          <p>Total 3 articles</p>
          <ul>
            <li>Biochemistry 1</li>
            <li>Computer science 2</li>
          </ul>
          <p>Keywords</p>
          <div>
            <span class="badge badge-primary">Graphene</span>
            <span class="badge badge-primary">Machine learning</span>
            <span class="badge badge-primary">Data mining</span>
            <span class="badge badge-primary">QSAR</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card card-plain">
        <div class="card-body">
          <h4 class="title">About</h4>
          <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
          </div>
          <div>
            <span class="badge badge-info">Bioinformatics</span>
            <span class="badge badge-info">Microbiology</span>
            <span class="badge badge-info">Computer</span>
            <span class="badge badge-info">Python</span>
          </div>
          <h4 class="subtitle">Commercial Research</h4>
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt..</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt..</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt..</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt..</li>
          </ul>
          <h4 class="subtitle">Publications</h4>
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt..</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt..</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt..</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt..</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}