{% extends "base.html" %}
{% load wagtailcore_tags blogapp_tags el_pagination_tags wagtailroutablepage_tags menu_tags %}
{% load form_tags %}

{% block title %}Log in{% endblock %}

{% block content %}
<div class="container">
  <h1 class="title">Log in</h1>
  {% if form.errors %}
    <p>
      Your username and password didn't match.
    </p>
  {% endif %}
  <div class="container col-md-4 content-center">
  <div class="card card-login card-plain">
    <form action="{% url 'login' %}" method="post">
      <div class="header header-primary text-center">
          <p>Please, use the following form to log in.</p>
      </div>
      <div class="content">
        <div class="input-group no-border input-lg">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fa fa-user-circle"></i>&nbsp;&nbsp;&nbsp;
            </div>
          </div>
          {{ form.username|add_css:"form-control"}}
        </div>
        <div class="input-group no-border input-lg">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fa fa-unlock-alt"></i>&nbsp;&nbsp;&nbsp;
            </div>
          </div>
          {{ form.password|add_css:"form-control"}}
        </div>
      </div>
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}"/>
      <div class="footer text-center">
        <input class="btn btn-primary btn-round btn-lg btn-block" type="submit" value="Log in">
        <br>
        <p>Or log in with your social media account.</p>
        <a class="btn btn-info btn-round btn-lg btn-block" href="{% url 'social:begin' 'facebook' %}">
          <i class="fa fa-facebook-square fa-2x"></i>
        </a>
        <a class="btn btn-danger btn-round btn-lg btn-block" href="{% url 'social:begin' 'google-oauth2' %}">
          <i class="fa fa-google-plus-square fa-2x"></i>
        </a>
      </div>
    </form>
    <div class="text-center">
      No account? <a href="{% url 'register' %}"><strong>register here</strong></a>
    </div>
  </div>
  </div>
</div>
{% endblock %}