{% extends "blog/base.html" %}
{% load static menu_tags wagtailcore_tags blogapp_tags wagtailroutablepage_tags form_tags %}

{% block navbar %}
{% main_menu template="menus/main/level_1.html"%}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md text-right">
            <br>
            {% if not request.session.language %}
            <strong>English</strong>&nbsp;<a href="/blog/switchlang/">
                <img src="{% static 'blog/assets/img/united-states.png' %}" alt="english"/>
            </a>
            {% elif request.session.language == 'en' %}
            <strong>ไทย</strong>&nbsp;<a href="/blog/switchlang/">
                <img src="{% static 'blog/assets/img/thailand.png' %}" alt="english"/>
            </a>
            {% else %}
            <strong>English</strong>&nbsp;<a href="/blog/switchlang/">
                <img src="{% static 'blog/assets/img/united-states.png' %}" alt="thai"/>
            </a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3 class="title text-center">
                <strong>{{ page.translated_title }}</strong>
            </h3>
            <h6 class="subtitle text-muted text-center">Posted on {{ page.date }}</h6>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            {{ page.body|richtext }}
            <div>
                <h3 class="subtitle">Comments</h3>
                {% if user.is_authenticated %}
                <form action="{% post_date_url page blog_page %}" method="post">
                    {{ comment_form.comment|add_css:"form-control" }}
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit" value="submit">Submit</button>
                </form>
                {% endif %}
                {% for comment in page.comments.all %}
                <blockquote class="blockquote">
                    <p class="mb-0"><i class="fa fa-quote-left"></i><br>&emsp;{{ comment.comment }}</p>
                    <footer class="blockquote-footer">
                        <cite title="by">{{ comment.user.first_name }}</cite> at {{ comment.commented_at }}</footer>
                </blockquote>
                {% empty %}
                <p>No comments for this post yet.</p>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-2">
            {% if page.tags.all.count %}
                <div>
                    <strong>Tags</strong>
                    <ul>
                        {% for tag in page.tags.all %}
                        <li style="display: inline">
                            <a class="badge badge-info" href="{% routablepageurl blog_page "post_by_tag" tag.slug %}">{{ tag }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% with categories=page.categories.all %}
                {% if categories %}
                    <strong>Categories</strong>
                    <ul>
                        {% for category in categories %}
                            <li style="display: inline">
                                <a class="badge badge-primary" href="{% routablepageurl blog_page "post_by_category" category.slug %}">
                                {{ category.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </div>
</div>
{% endblock %}